.banner {
  background-image: url("https://source.unsplash.com/random/1000x500");
  color: black;
  padding: 120px 0;
  background-size: cover;
}

h1 {
  font-size: 58px;
  font-family: 'Delicious Handrawn', cursive;
  background-color: azure;
  border-radius: 2px;
  padding: 10px;
}

#sub-header {
  font-size: 28px;
  color: aliceblue;
  font-weight: 600;
}

p {
  font-size: 18px;
  font-weight: 600;
}

h3 {
  color: rgb(15, 15, 68);
  font-family: 'Oswald', sans-serif;
  font-size: 38px;
}

.container {
  width: 700px;
  margin: 50px auto;
}

body {
  background-color: rgb(157, 226, 226);
  font-family: 'Oswald', sans-serif;
  margin: 0;
}

.link {
  text-decoration: none;
  background-color: aqua;
  box-shadow: 10px 5px 10px black;
}

.link:hover {
  background-color: blueviolet;
}

/* Media queries */
@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 750px) {
  .container {
    width: 450px;
  }
}
@media(max-width: 500px) {
  .container {
    width: 350px;
  }
  .banner {
    padding: 50px 0;
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}
